.tod{
    width: 100px;
    height: auto;
    cursor: pointer;
    margin-top: 20px;
    background-color: blueviolet;
}

.cal{
    width: 100px;
    height: auto;
    cursor: pointer;
    margin-top: 20px;
    background-color: cadetblue;
}