.todo-Input{
    border: none;
    height: 25px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: black;
}

.todo-button{
    border: none;
    height: 25px;
    background: rgb(0,121,91);
    background: linear-gradient(90deg, rgba(0,121,91,1) 0%, rgba(0,230,173,1) 100%);
    color: yellow;
}